<div class="container">
  <div class="row d-flex p-5 justify-content-center align-items-center">
    <h1 class="text-center mb-5">Gráfico de ejemplo</h1>
    <p class="text-center mb-5">
      Número de hogares con miembros objetivo que reciben el paquete de
      servicios.
    </p>    
    <div class="col col-lg-8">
      <select
        class="form-control col-lg-8"
        id="year"
        aria-describedby="year"
        [(ngModel)]="yearSelected"
      >
        <option value="">Seleccione un año</option>
        <option *ngFor="let year of yearsList" value="{{ year }}">
          {{ year }}
        </option>
      </select>
    </div>
    <div *ngIf="hasError" class="col col-lg-7 alert alert-danger mt-5" role="alert">
      Ha ocurrido un error al conectar con el servidor, por favor intente nuevamente.
    </div>
    <app-chart-component
      [yearSelected]="yearSelected"
      [dataFromAPI]="dataFromAPI"
      *ngIf="yearSelected"
    ></app-chart-component>
  </div>
</div>
